@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Source+Sans+3:ital,wght@0,400;1,300&display=swap');


/* CSS reset */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}


/* Global */

body {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #1B365D;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.global-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.global-button {
  background-color: #1B365D;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.global-button:hover {
  background-color: #101E39
}

.services,
.how-it-works,
.testimonials,
.contact-us-section {
  margin-bottom: 2rem
}

h2 {
  text-align: center;
  padding: 2rem
}

/*Header*/

/* Navigation Menu (not responsive) text clipping at 724px */

/*https: //support.mozilla.org/en-US/questions/1209125 had to add explicit width to logo img for Firefox*/

.logo img {
  height: auto;
  width: 300px;
}

.primary-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem 0rem 3rem;
}

.primary-nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primary-nav-links>li {

  /*removed overflow: hidden;*/

  margin: 0 1rem;
}

.primary-nav-links a {
  color: #1B365D;
  text-decoration: none;
}

.primary-nav-links a:hover {
  text-decoration: underline #1B365D;
}


/* Section 1 - Split Hero */
.hero {
  background-color: #F0F0F0;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.image img {
  height: auto;
  width: 100%;
}

.hero-content p {

  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;

}

.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-list li {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.icon-list li i {
  margin-right: 0.5rem;
}


/* Section 2 - Services Content */

/*https: //wpengine.com/resources/combine-flexbox-and-css-grids-for-layouts-how-to/; https: //codepen.io/jensimmons/pen/LyrNqJ?editors=1100*/

.services {
  background-color: #ffffff;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

.service-card img {
  height: auto;
  width: 100%;
}

/*https: //www.w3schools.com/cssref/pr_list-style-position.php*/

.service-card ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.service-card h3 {
  margin-top: 1rem;
}

/* Section 3 - How it works */

.how-it-works {
  background-color: #f0f0f0;
}

.how-it-works-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.how-it-works span {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}

.how-it-works p {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/*--https: //benmarshall.me/responsive-iframes/ Video grid was making steps grid text over flow--*/

.responsive-iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

/*-- https: //support.mozilla.org/en-US/questions/1209125 had to add explicit width to logo img / iframes for Firefox--*/

iframe {
  width: 560px;
  height: 315px;
}


/* Section 4 - Testimonials */

.testimonials {
  background-color: #ffffff;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.testimonial {
  text-align: center;
}


/*love running circle*/

.testimonial img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #1d4289;
}

/*Section 5 - Contact Us*/

.contact-us-section {
  background-color: #f0f0f0;
}

.contact-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.contact-us-text {
  width: 100%;
  text-align: center;
}

.contact-us-text span {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.contact-us-text address {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
}

/*https: //stackoverflow.com/questions/16907518/css-input-with-width-100-goes-outside-parents-bound Form input fields are extending beyond the container*/

.form-container {
  background-color: #ffffff;
  padding: 2rem;
  border: 2px solid #1B365D;
}

.form-fields label {
  display: grid;
  text-align: left;
  font-weight: bold;
  padding: 0.5rem 0;
}

.form-fields input {
  padding: 0.5rem;
  border: 2px solid #1B365D;
  background-color: #f0f0f0;
  width: 100%;
}

.form-fields select {
  padding: 0.5rem;
  border: 2px solid #1B365D;
  background-color: #f0f0f0;
  width: 100%;
}

.form-fields [type="submit"] {
  background-color: #1B365D;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

/*Section 6 - Footer*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #1B365D;

}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem 0rem 3rem;
  list-style: none;
}

.social-icons li a {
  color: #ffffff;
  font-size: 2rem;
  margin: 0 0.5rem;
}

.footer h4 {
  color: #ffffff;
  text-align: center;
}

/*404 Page*/
.error-404 {
  background-color: #F0F0F0;
  text-align: center;

}

.error h1 {
  font-size: 10rem;
}

.error h2 {
  font-size: 2rem;
}

.error p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.error .return {
  font-size: 1.25rem;
  color: #101E39;

}

/*404 Page*/
.form-confirmation {
  background-color: #F0F0F0;
  text-align: center;

}

.form-success h1 {
  font-size: 6rem;
}

.form-success h2 {
  font-size: 2rem;
}

.form-success p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}


/*Media Queries*/

/*Navigation Menu*/

@media only screen and (max-width: 1000px) {
  .primary-nav {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .primary-nav-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .primary-nav-links>li {
    margin: 0 0.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  .how-it-works-container {
    grid-template-columns: 1fr;
  }

}

@media only screen and (max-width: 768px) {
  .primary-nav {
    padding: 0.5rem;
  }

  .primary-nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: center;
  }

  .primary-nav-links>li {
    margin: 0.2rem;

  }


}

/*Other Sections*/

@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
  }

  .services-container {
    grid-template-columns: 1fr;
  }

  .how-it-works-container {
    grid-template-columns: 1fr;
  }

  .testimonials-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-us-container {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 2.1rem;
  }
}


@media (max-width: 480px) {
  .testimonials-container {
    grid-template-columns: 1fr;
  }

  .form-success h1 {
    font-size: 2rem;
  }

  .error h1 {
    font-size: 2rem;
  }

}